.create-course-wrapper {
  width: 80%;
  margin: 0;
  padding: 0;
}
.form-wrapper {
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  background-color: white;
  padding: 30px 60px;
}
.create-course-title {
  font-weight: 700;
  line-height: 40px;
  font-size: 32px;
}
.title-description-duration {
  margin-bottom: 40px;
}
.description-field,
.title-field {
  width: 100%;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  margin: 0;
  padding: 10px 0 0 0;
  padding-left: 10px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Open Sans';
}
.title-field {
  height: 50px;
  padding: 0 0 0 10px;
  margin: 0;
}
.title-error,
.duration-error,
.description-error,
.author-error {
  margin-top: 0;
  color: red;
}

.duration-field {
  height: 50px;
  width: 100px;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  font-size: 16px;
}

.duration-input-display {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.duration-display {
  margin-left: 10px;
  padding-top: 22px;
  font-size: 16px;
  line-height: 20px;
}

.author-container {
  display: grid;
  grid-template-columns: 7fr 3fr;
  overflow-x: auto;
}
.course-authors {
  grid-row: span 2;
}

.create-author-btn {
  padding: 23px 0 0 0;
  margin-left: 10px;
}

.create-author-input-btn {
  display: flex;
  flex-direction: row;
}
.author-name-field {
  width: 400px;
  height: 50px;
  font-size: 16px;
  line-height: 20px;
}
.authors-list {
  width: 30%;
  margin-top: 20px;
}

.form-btns {
  text-align: right;
  margin-top: 50px;
  margin-bottom: 50px;
}
.cancel-btn,
.submit-btn {
  margin-left: 20px;
}

@media (max-width: 1300px) {
  .author-container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 950px) {
  .create-author-input-btn {
    display: flex;
    flex-direction: column;
  }
  .create-author-btn {
    margin: 0;
  }
  .author-name-field {
    max-width: 90%;
  }
  .authors-list {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .create-course-wrapper {
    width: 90vw;
  }
  .form-btns {
    text-align: center;
  }
  .cancel-btn,
  .submit-btn {
    margin-bottom: 10px;
  }
}
