button {
  background-color: #007298;
  color: #ffffff;
  size: 16px;
  border: none;
  border-radius: 5%;
}
.App {
  width: fit-content;
  row-gap: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
