.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
}

.search-bar-input {
  flex: 1;
  margin-right: 8px;
}

@media (max-width: 600px) {
  .search-bar {
    flex-direction: column;
    align-items: stretch;
    height: auto;
    row-gap: 10px;
  }

  .search-bar-input {
    margin: 10px 0;
    padding: 15px;
  }
}
