.empty-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
.empty-list-container-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
}
